<header class="site-header">
  <div class="container">
    <a class="site-title" href="{{ site.baseurl | prepend: site.url }}">{{ site.title }}</a>
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon"></span>
      </label>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/about/' | relative_url }}">About</a></li>
        <li><a href="{{ '/book-reviews/' | relative_url }}">Book Reviews</a></li>
        <li><a href="{{ '/book-blurbs/' | relative_url }}">Book Blurbs</a></li>
        <li><a href="{{ '/poems/' | relative_url }}">Poems</a></li>
        <li><a href="{{ '/articles/' | relative_url }}">Articles</a></li>
      </ul>
    </nav>
  </div>
</header>
